html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
    min-width:100px ;
}
.el-breadcrumb{
    margin-bottom: 10px;
}
.el-card{
    box-shadow: 0px 1px 1px gainsboro !important;
}
.el-step__title{
    font-size: 9px;
}
.ql-editor{
    min-height: 180px;
}
